<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manish.customgridview"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:label="@string/app_name"/>

        <activity android:name=".StudentActivity"
            android:label="@string/app_name"/>
        <activity android:name=".OfbiActivity"
            android:label="@string/app_name"/>
        <activity android:name=".StudyActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ProfStudentActivity"
            android:label="@string/app_name"/>
        <activity android:name=".TeacherActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ScheduleTeacherActivity"
            android:label="@string/app_name"/>
        <activity android:name=".GuestActivity"
            android:label="@string/app_name"/>
        <activity android:name=".PlanGuestActivity"
            android:label="@string/app_name"/>
        <activity android:name=".LearnPlansGuestActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ProtocolsGuestActivity"
            android:label="@string/app_name"/>
        <activity android:name=".NewsActivity"
            android:label="@string/app_name"/>

        <activity android:name=".WebBrowserActivity"
            android:label="@string/app_name"/>

        <activity android:name="com.manish.customgridview.displayingbitmaps.ui.ImageGridActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.manish.customgridview.displayingbitmaps.ui.ImageDetailActivity"
            android:label="@string/app_name"></activity>



        <activity
            android:name="com.manish.customgridview.UserListViewNew"
            android:label="@string/app_name" >
        </activity>

        <activity android:name="com.manish.customgridview.UserActivityNew"
            android:label="@string/app_name"/>


    </application>

</manifest>
